@charset "UTF-8";
	/* 	#ff/ff/ff : 하얀색 (R/G/B) #00/00/00 : 검정색  */
	/* 	#0~9a~f : 조합하면 됨 ! */

pre{
	border-top : 2px solid gray;
	border-bottom : 3px double blue;
	
	background-color : #FDDCAB;
	padding : 5px;
	margin : 3px;
	font-size: 1.5em;
}
input[type=button], button[type=button]{
/* 	속성을 이용한 선택 */
	width : 100px;
	height : 50px;
	background : blue;
	border-radius : 20px;
	padding : 5px;
	color : white;
	
}
div{
	border : 1px dotted orange;
	height: auto;
	margin: 10px;
	padding: 10px;
/* 	font-size : 1.5em; */
}	

div h3{
	font-size: 1.0em;
}
div div{
	font-size : 1.0em;
}